/* General Styles */
.home-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', serif;
  }
  
  .bit-logo-center {
    text-align: center;
  }
  
  .bit-logo-word {
    max-width: 100%;
    height: auto;
  }
  
  /* Feedback Button */
  .feedback-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:  #083d51;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .feedback-btn:hover {
    background-color: #127089;
  }
  
  /* Popup Styles */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .popup-heading {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .feedback-input {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .send-btn {
    background-color: #083d51;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .send-btn:hover {
    background-color: #127089;
  }
  
  /* Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  